:root {
    --background: #ffffff;
    --color: #FFFEFE;
    --primary-color: #0DAFCA;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: var(--color);
}

#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #1B71A1;
  }

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-cerrar_sesion{
    background-color: #1B71A1;
    color: #ffffff;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 50%;
    background-color: #3498db;
    color: #fff;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    transform: scale(0.9);
}